body {
	background-color: #DCDCDC;
}


@media only screen and (min-width: 760px) {
.responsive-image {
	width: 50%;
}

.responsive-head-image {
	width: 40%;
	height: 40%;
}

.responsive-h2 {
	font-size: 30px;
}

 .responsive-h1 {
	font-size: 40px;
	color: #5F9EA0;
	font-style: bold;
}

.responsive-p {
	font-size: 20px;
	margin: auto;
	}
}

.container {
	width: 100%;
}

a:link {
	text-decoration: none;
}

p {
	color:#000000;
	font-family: sans-serif;
	font-size: 15px;
	width: 60%;
	margin: 20px 0px 20px 0px;
	}

h1 {
	color:#FF1493;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 30px;
	margin-top: 30px;
	}

h2 {
	color:#000000;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 20px;
}

.footer-style {
	font-family: sans-serif;
	width: 320px;
	color: #FFFFFF;
	margin: 20px auto 20px auto;
	text-align: center;
}

.icon {
	margin: 20px;
}


.img-round {
	border-radius: 50%;
}
	
.puff-style {
	margin: 0 auto;
	padding: 20px;
	width: 80%;
	background-color: white;
	text-align: center;
}

.frame {
	background-color: #FF1493;
	padding: 30px 0px;
	margin: 30px;
	align-content: center;
}


.word-spacing { 
    word-spacing: 30px;
}

footer {
	background-color: #DCDCDC;
}