body {
	background-color: #FFFFFF;
}


p {
	color:#000000;
	font-size: 12px;
	}

h1 {
	color:#FF1493;
	font-size: 40px;
	margin-top: 30px;
	background-color: #FFFFFF;
	}

.frame {
	width: 200px;
	border: 3px solid #000000;
	margin: 30px;
	background-color: #FFFFFF;
	padding-left: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.blue-text {
	color:#20B2AA;
	font-size: 15px;
	}