body {
	background-color: #FFFFFF;
}


@media only screen and (min-width: 760px) {
.responsive-image {
	width: 50%;
	}

.responsive-h2 {
	font-size: 30px;
	font-style: oblique;
	}
 .responsive-h1 {
	font-size: 70px;
	color: #5F9EA0;
	}

.responsive-p {
	font-size: 20px;
	}
}


p {
	color:#000000;
	font: garamond;
	font-size: 15px;
	width: 320px;
	margin: 20px 0px 20px 60px;
	}

h1 {
	color:#FF1493;
	font: garamond;
	font-size: 40px;
	margin-top: 30px;
	}

h2 {
	color:#000000;
	font: garamond;
	font-size: 20px;
}

.icon {
	margin: 20px;
}

.img-round {
	border-radius: 50%;
}
	
.puff-style {
	margin: 70px 0px 30px 0px;
}

.frame {
	background-color: #FFE4E1;
	padding: 30px 0px 30px 0px;
	margin-top: 30px;
}


.word-spacing { 
    word-spacing: 30px;
}

footer {
	background-color: #DCDCDC;
}